html {
height: 100%;
}

body {
 background-color: indianred;

height: 100%;
}
#menu{
background-color:white;
width: 80%;
height: 15%;

}

#container{
background-color: yellow;
width: 80%;
height: 85%;
display:flex;
}
#dash{
background-color: magenta;
width: 20%;
height: 100%;
}
#facebook{
background-color: purple;
width: 60%;
height: 10%;
}
#inhoud{
background-color: grey;
width: 20%;
height: 10%;
}